[gui]
	editor = nvim
[diff]
	tool = gittower
[difftool "gittower"]
    cmd = gittower diff -- $LOCAL $REMOTE
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE &> /dev/null
[difftool "icdiff"]
	cmd =icdiff --highlight --line-numbers $LOCAL $REMOTE
[difftool "compare"]
	cmd =compare $LOCAL $REMOTE
[difftool "p4merge"]
	cmd =p4merge $LOCAL $REMOTE
