snippet impl "Import Matplotlib" b
import matplotlib.pyplot as plt
$0
endsnippet

snippet inpt "Import NumPy typing" b
import numpy.typing as npt
$0
endsnippet

snippet inp "Import NumPy" b
import numpy as np
$0
endsnippet

snippet isp "Import SciPy" b
import scipy as sp
$0
endsnippet

